<section id="contacts p-5">
    <h1 class="contact-text mt-5 text-center text-uppercase">contact section</h1>
    <div class="contact-star-shape custome-color mt-4 mb-5 d-flex justify-content-center align-items-center column-gap-3">
        <div class="line"></div>
        <i class="fa-solid white-color fa-star"></i>
        <div class="line"></div>
    </div>
    <div class="container mt-5 mb-5">
        <form action="" class="w-50 m-auto">
            <div class="input-container mb-5 position-relative">
                <input type="text" class="w-100 contact-input position-relative" placeholder="userName" id="uName">
                <span class="input-description position-absolute start-0">userName:</span>
            </div>
            <div class="input-container mb-5 position-relative">
                <input type="text" class="w-100 contact-input position-relative" placeholder="userAge" id="uAge">
                <span class="input-description position-absolute start-0">userAge:</span>
            </div>
            <div class="input-container mb-5 position-relative">
                <input type="email" class="w-100 contact-input position-relative" placeholder="userEmail" id="uEmail">
                <span class="input-description position-absolute start-0">userEmail:</span>
            </div>
            <div class="input-container mb-5 position-relative">
                <input type="password" class="w-100 contact-input position-relative" placeholder="userPassword" id="uPassword">
                <span class="input-description position-absolute start-0">userPassword:</span>
            </div>
            <button id="contact-button" class="rounded">send Message</button>
        </form>
    </div>
</section>