<section id="portfolio" class="p-5">
    <div class="container">
        <h1 class="portfolio-text mt-5 text-center text-uppercase">portfolio component</h1>
        <div class="about-star-shape mt-4 d-flex justify-content-center align-items-center column-gap-3">
            <div class="line"></div>
            <i class="fa-solid white-color fa-star"></i>
            <div class="line"></div>
        </div>
        
        <div class="portfolio-contents mt-4 row">
            <div class="portfolio-item-container col-lg-4 col-md-6 p-3">
                <div class="portfolio-item-inner">
                    <div class="content">
                        <!-- Button trigger modal -->
                        <button id="modal-button" class="position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img class="w-100 rounded" src="port1.png" alt="">
                            <div class="w-100 portfolio-item-layer rounded position-absolute top-0 bottom-0 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-7x fa-plus text-white"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-container col-lg-4 col-md-6 p-3">
                <div class="portfolio-item-inner">
                    <div class="content">
                        <!-- Button trigger modal -->
                        <button id="modal-button" class="position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            <img class="w-100 rounded" src="port2.png" alt="">
                            <div class="w-100 portfolio-item-layer rounded position-absolute top-0 bottom-0 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-7x fa-plus text-white"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-container col-lg-4 col-md-6 p-3">
                <div class="portfolio-item-inner">
                    <div class="content">
                        <!-- Button trigger modal -->
                        <button id="modal-button" class="position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <img class="w-100 rounded" src="port3.png" alt="">
                            <div class="w-100 portfolio-item-layer rounded position-absolute top-0 bottom-0 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-7x fa-plus text-white"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-container col-lg-4 col-md-6 p-3">
                <div class="portfolio-item-inner">
                    <div class="content">
                        <!-- Button trigger modal -->
                        <button id="modal-button" class="position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img class="w-100 rounded" src="port1.png" alt="">
                            <div class="w-100 portfolio-item-layer rounded position-absolute top-0 bottom-0 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-7x fa-plus text-white"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-container col-lg-4 col-md-6 p-3">
                <div class="portfolio-item-inner">
                    <div class="content">
                        <!-- Button trigger modal -->
                        <button id="modal-button" class="position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            <img class="w-100 rounded" src="port2.png" alt="">
                            <div class="w-100 portfolio-item-layer rounded position-absolute top-0 bottom-0 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-7x fa-plus text-white"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portfolio-item-container col-lg-4 col-md-6 p-3">
                <div class="portfolio-item-inner">
                    <div class="content">
                        <!-- Button trigger modal -->
                        <button id="modal-button" class="position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <img class="w-100 rounded" src="port3.png" alt="">
                            <div class="w-100 portfolio-item-layer rounded position-absolute top-0 bottom-0 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-7x fa-plus text-white"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        <!-- Modals: -->
            <!-- Modal -->
            <div class="modal fade rounded" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <img class="w-100 rounded" src="port1.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Modal2: -->
            <div class="modal fade rounded" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <img class="w-100 rounded" src="port2.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Modal3: -->
            <div class="modal fade rounded" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <img class="w-100 rounded" src="port3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>