<section id="home" class="p-5">
    <div class="container">
        <div class="img-container d-flex justify-content-center">
            <img class="img-size" src="/avataaars.svg" alt="home-img">
        </div>
        <h1 class="home-text mt-5 text-center text-uppercase">start framework</h1>
        <div class="home-star-shape mt-4 d-flex justify-content-center align-items-center column-gap-3">
            <div class="line"></div>
            <i class="fa-solid white-color fa-star"></i>
            <div class="line"></div>
        </div>
        <p class="white-color mb-0 text-center mt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</section>

